/* Ensure body has default styling */
body {
    margin: 0;
    background-color: #8dd2e4;
  
  }
  /* Container for centering the form */
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
  }
  
  /* Styling the form */
  .signup-form {
    font-family: Arial, sans-serif;
    background-color: #81cf98;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="number"],
  .signup-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form input[type="submit"]:hover {
    background-color: #218838;
  }
  