{% extends 'base.html' %}{%load static%}
<!--title--> 
{% block title %}Product{% endblock %}
<!--cart-->
{% block cart %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/410a96b5a9c8b4240e8beddfcc6d06dd.jpg_400x400q80.jpg" class="card-img-top" alt="watch">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/b99debca96c2e4d8b1d9857bfb9e90bc.png_400x400q80.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://img.drz.lazcdn.com/static/np/p/08e26bf3753da6684e3638cd246b571d.jpg_400x400q80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
